# lian tui
pacman/

# clolr
color.conf

# config
config.md

# fastfetch logo
fastfetch/logo

# nvim
lazy-lock.json

# waybar python
__pycache__
waybar/.codex

# local app state
gtk-3.0/bookmarks

# secrets
.env

# fcitx5 rime 自动生成的快照/缓存
fcitx5/rime/*_cleanup_*.txt
fcitx5/rime/worddb_snapshot_*.txt
fcitx5/rime/custom_phrase.txt
