[Unit]
Description=Fcitx5 input method
PartOf=hyprland-session.target
After=hyprland-session.target

[Service]
Type=simple
ExecStart=/usr/bin/fcitx5 --replace
Restart=on-failure

[Install]
WantedBy=hyprland-session.target
