[Unit]
Description=Lianwall wallpaper daemon
PartOf=hyprland-session.target
After=hyprland-session.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/lianwall start
ExecStop=/usr/bin/lianwall stop

[Install]
WantedBy=hyprland-session.target
