[Unit]
Description=Lianwall wallpaper GUI
PartOf=hyprland-session.target
After=hyprland-session.target

[Service]
Type=simple
ExecStart=/usr/bin/lianwall-gui
ExecStop=/usr/bin/lianwall stop

[Install]
WantedBy=hyprland-session.target
